<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
              <h1 class="display-1">About</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nostrum incidunt perferendis modi ex sequi reprehenderit, dolores expedita, repellat aut itaque delectus libero alias similique molestiae blanditiis odit obcaecati? Eum corrupti ad repudiandae recusandae nostrum rem expedita, laudantium dolorem sint temporibus magnam quod accusantium quisquam obcaecati ea pariatur enim officiis aut quibusdam sapiente quis odio, distinctio dolores voluptatum! Saepe velit accusamus necessitatibus expedita dignissimos recusandae quaerat, voluptatibus cumque! Vero aliquid beatae magnam, nemo illo ea accusamus placeat eaque dolor soluta distinctio ips</p>
        </section>
    </main>
</body>
</html>